:root{
    box-sizing: border-box;
}
div{
    /* This background color was added to make the fct changeColor work */
    background-color: rgb(255, 255, 255);
}

body{
    margin: 0;
    padding: 0;
    background-color: aqua;
    min-height:100vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas{
    background-color: white;
    display: grid;
    width: min(80%, 35rem);
    margin-inline: auto;
    margin-bottom: 0.3rem;
    min-height: 80vh; 
    border: 2px solid cadetblue;
    border-radius: 0.5rem;
    grid-template-columns: repeat(16, 1fr);
    cursor: pointer;
    
}

.controlButtons{
    background-color: inherit;
}

.controlButtons button{
    margin-left: 0.5rem;
}

.btn{
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    box-shadow: 0 2px 1px 1px hsl(197, 71%, 53%);
    cursor: pointer;
    margin-top: 0.5rem;
}

.btn:active{
    background-color: hsl(197, 71%, 53%);
}

.numPixel{
    text-align: center;
    font-size: 1.2rem;
}

.canvasSize{
    text-align: center;
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(207, 71%, 55%);
}

.canvasSize:focus{
    outline: none;
}

.bgBlue{
    background-color: blue;
}